/**************************
*
*	GENERAL
*
**************************/
.camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}

.camera_main_container{
	margin-top: 0px;
	min-height: 300px;
}
.camera_wrap {
	display: none;
	float: none;
	position: relative;
	z-index: 1;
	margin-bottom: 0px !important;
	overflow: hidden;
}
.camera_wrap img {
	max-width: none !important;
	max-width: 20000px !important;
}
.camera_fakehover {
	height: 100%;
	min-height: 40px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.camera_wrap {
	width: 100%;
	height:428px;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.9) url(../images/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0px;
	position: relative;
}


.camera_prev{
	background: url(../images/slider_prev_btn.png) left top no-repeat;
	width: 18px;	
	height: 30px;
	position: absolute;
	z-index: 999;
	top: 50%;
	margin-top: -15px;
	left: 35px;
	cursor: pointer;
	opacity: 1 !important;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.camera_prev:hover {
	background-position: 0 bottom;	
}

.camera_next {
	background: url(../images/slider_next_btn.png) right top no-repeat;
	width: 18px;	
	height: 30px;
	position: absolute;
	z-index: 999;
	top: 50%;
	margin-top: -15px;
	right: 35px;
	cursor: pointer;
	opacity: 1 !important;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.camera_next:hover {
	background-position: right bottom;	
}


.caption {
	  position:absolute;
	  top: 152px;
	  z-index:15; 
	  /*width: 100%;*/
	  left: 50%;
		margin-left: -593px;
		width: 1000px;
		max-width: 100%;
}

.caption_bg{
	position: relative;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	
}

.caption span.slider_txt1{
	position: relative;
	display:block;
	color:#000;
	font:100 76px/76px "Lato", Arial, Helvetica, sans-serif ;
	margin-top: 1px;
	text-align: left;
}
.caption span.slider_txt2{
	position: relative;
	display:block;
	color:#fff;
	font:105px/105px "Lato", Arial, Helvetica, sans-serif ;
	margin-top: 2px;
	text-align: left;
}
.caption span.slider_txt3{
	position: relative;
	display:block;
	color:#fff;
	font:300 22px/31px "Lato", Arial, Helvetica, sans-serif ;
	margin-top: 21px;
	text-align: left;
	margin-left: 7px;
	max-width: 680px;
}


.camera_wrap .camera_pag {
	width:100%;
	left: 50px;
	z-index:1000;
	position:absolute; 
	height: 20px;
	bottom: 20px;
	display: inline-block;
}
.camera_wrap .camera_pag .camera_pag_ul{
	position: relative;
	display: inline-block;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	float:left;	
	margin-right: 1px;
}

.camera_wrap .camera_pag .camera_pag_ul li span {
	text-indent: -999px;
	overflow: hidden;
	cursor: pointer;
	display:block; width:40px; height:9px; background: #fff;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent span, .camera_wrap .camera_pag .camera_pag_ul li:hover span{
	background: #eb6654;
}



/*========================================================
								RESPONSIVE LAYOUTS STYLES 
=========================================================*/
@media only screen and (max-width: 1559px) {
	.caption {
	  position:absolute;
	  top: 32px;
	  z-index:15; 
	  /*width: 100%;*/
	  left: 70px;
	  margin-left: 0;
		width: 90%;
		max-width: 100%;
	}
	.caption span.slider_txt1{font:300 46px/46px "Lato", Arial, Helvetica, sans-serif;}
	.caption span.slider_txt2{font:55px/55px "Lato", Arial, Helvetica, sans-serif; margin-top: 2px;}
}
@media only screen and (max-width: 979px) {
	.caption span.slider_txt3{display: none;}
	.camera_next {right: 10px;}
	.camera_prev {left: 10px;}
}
@media only screen and (max-width: 767px) {
	.caption span.slider_txt1{font:300 36px/36px "Lato", Arial, Helvetica, sans-serif;}
	.caption span.slider_txt2{font:35px/35px "Lato", Arial, Helvetica, sans-serif; margin-top: 2px;}
	.camera_more_btn{
		margin-top: 17px;
		padding: 10px 15px;
	}
	.caption {top: 87px; width: 85%; left: 40px;}
}
@media only screen and (max-width: 479px) {
	.caption {top: 97px;}
	.caption span.slider_txt1{font:300 32px/32px "Lato", Arial, Helvetica, sans-serif;}
	.caption span.slider_txt2{font:28px/28px "Lato", Arial, Helvetica, sans-serif; margin-top: 2px;}
}
@media only screen and (max-width: 320px) {
	
}
